* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

// ============HEADER=============

.header {
    background-color: #000;
    padding: 24px 48px;
}

.header .logo {
    width: 150px;
}

.menu {
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
    margin: 0 25px;
    padding: 5px 0;
}

.menu > li:hover .sub-menu {
    display: block;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.menu a:hover {
    color: #bbb;
}

.sub-menu {
    position: absolute;
    top: 32px;
    background-color: #000;
    display: none;
    z-index: 1;
}

.sub-menu li {
    width: 200px;
}

.sub-menu a {
    display: block;
    padding: 10px 16px;
    color: #bbb;
    font-weight: 500;
}

.sub-menu a:hover {
    color: #fff;
}

.tool-right a {
    text-decoration: none;
}

.tool-right i {
    padding: 10px;
}

.tool-right i:hover {
    cursor: pointer;
}
