<div class="register col-lg-7">
    <form class="px-4 py-3">
        <h2>SIGN UP</h2>
        <p>Please fill out the information below.</p>
        <div class="form-group">
            <p>First name</p>
            <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>Last name</p>
            <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>Email</p>
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>Password</p>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>Phone</p>
            <input
                type="number"
                class="form-control"
                id="phone"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>Country</p>
            <input
                type="text"
                class="form-control"
                id="country"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>City</p>
            <input
                type="text"
                class="form-control"
                id="city"
                placeholder=""
            />
        </div>
        <div class="form-group">
            <p>Address</p>
            <input
                type="text"
                class="form-control"
                id="address"
                placeholder=""
            />
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
</div>